body{
margin: 0;
padding: 0;
}
.about hr{ 
width:55px ;
background-color: #78817f;
height: 3px;
}
.about{
height: auto;
width: auto;
background-color: #D74680;
text-align: center;
}
.about h1{
font-size: 30px;
color: white;
padding-top: 50px;
}

.about p{
font-size: 18px;
width:480px;
height: 50px;
text-align:left;
color: white;
margin-right: 30px;
}

.about h2{
text-align: left;
color: white;

}

.about h3{
font-size: 18px;
color: rgb(241, 165, 121);
text-align: left;
padding-left: 150px;
}

.about h4{
color: white;
}


.about img{
float: left;
display: inline;
padding-left: 30px;
padding-right: 30px;

}

.touch button{
    color:white;
    background-color: turquoise;
    text-align: center;
    margin-right: 500px;
    }
    
